body{
    background: linear-gradient(to top, #edeec9, #bfd8bd, #77bfa3) fixed;
    font-family: 'Courier Prime', monospace; 
    display: flex;
	align-items: center;
	flex-direction: column;
}

h1{
    font-family: 'Press Start 2P', cursive;
}

p{
    font-family: 'Courier Prime', monospace; 
    margin: 20px;
}

.botao{
    /*margin: 25px;*/
    font-family: 'Courier Prime', monospace; 
    padding: 10px;
    border-radius: 50px;
    border-color: black;
    box-shadow: 5px 5px black;
}

.botao:hover{
    background-color: #c9dad3b9;
    transition: 0.5s; /*esmaecer a cor de acordo com o tempo colocado*/
}


.campoText{
    border-radius: 50px;
    margin-bottom: 20px;
    width: 30%;
}

#cod{
    border: solid black;
    padding: 10px;
}

div{
    justify-content: center;
}