body{
    background: linear-gradient(to top, #edeec9, #bfd8bd, #77bfa3) fixed;
    font-family: 'Courier Prime', monospace; 
}

h1{
    font-family: 'Press Start 2P', cursive;
}

p{
    font-family: 'Courier Prime', monospace; 
}

.botao{
    font-family: 'Courier Prime', monospace; 
    padding: 10px;
    border-radius: 50px;
    border-color: black;
    box-shadow: 5px 5px black;
}